body {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    /* background-color: #272822; */
    background-color: #F8F8F8;
    z-index: 9990;
}

.nav-container {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 100%;
    display: inline-block;
}

.name-container {
    /* float: left; */
    display: inline-block;
}

.name {
    /* font-family: 'Rokkitt', serif; */
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    margin-left: 20px;
    /* color: #77C22B; */
    /* color: #AEB6BF; */
    color: #7a42f4;
}

.links {
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    display: inline-block;
    /* margin: 14px 20px 0 25%; */
    margin: 14px 35px 0 35%;
    color: #AEB6BF;

}

.links a:link, a:visited {
    /* color: #AEB6BF; */
    color: #FF5851;
}

.header-span {
    margin-left: 20px;
}

.logo {
    /* display: inherit; */
    float: right;
    width: 200px;
    padding-top: 5px;
    margin-top: 5px;
}

.linkedin, .github {
    margin: 0;
    margin-left: 10px;
    display: inline;
    height: 40px;
    width: 40px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.container-div {
    width: auto;
    height: 100%;
}

.about-div {
    height: 710px;
    background: #EAEDED;
    /* font-family: 'KoHo', sans-serif; */
    font-family: 'Playfair Display', serif;
    /* color: #7586E8; */
    color: #FF5851;
    text-align: center;
    padding-top: 50px;
}

.about-span {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-size: 100px;
    margin-top: 0px;
}

.projects-div {
    height: 710%;
    color: #FF5851;
    background: #EAEDED;
    padding-top: 40px;
    /* font-family: 'KoHo', sans-serif; */
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.project-span {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-size: 100px;
    margin-top: 0px;
}

.bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 800px;
    font-family: 'KoHo', sans-serif;
    color: #283747;
}

.little-more {
    font-size: 24px;
    /* font-family: 'KoHo', sans-serif; */
    font-family: 'Playfair Display', serif;
    line-height: 2;
}

.background {
    font-size: 22px;
    font-family: 'KoHo', sans-serif;
}

.hello-div {
    /* height: 780px; */
    height: 100vh;
    overflow: auto;
    background: linear-gradient(90deg, #FF5851 50%, #F8F8F8 50%);
    font-family: 'Karla', sans-serif;
    color: black;
    text-align: center;
}

.hello-span {
    /* font-size: 27vw; */
    display: inline-block;
    height: 280px;
    width: 100%;
    margin: 0 auto;
    font-size: 280px;
    margin-top: 220px;
}

.hello-break {
    font-size: 0;
    width: 100%;
}

.break1 {
    font-family: 'Maven Pro', sans-serif;
    display: inline-block;
    /* height:280px; */
    /* width:100%; */
    margin: 0 auto;
    font-size: 200px;
    word-wrap: break-word;
    margin-top: 100px;
}

.break2 {
    font-family: 'Maven Pro', sans-serif;
    margin: 0 auto;
    font-size: 200px;
    margin-top: 0;
    padding: 0;
    margin-left: 165px;
}

.dot {
    color: #FF5851;
}

.hello-p {
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 80px;
    color: #566573;
}



.project-list-div {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.project-details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 18px;
    color: #5F6A6A;
}

.project-image {
    width: 100%;
    text-align: center;
}

.linkColor {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.project-image a:visited, a:link {
    color: #2cb22c;
}

#footer {
    background-color: #272822;
    width: 100%;
    height: 40px;
    padding: 0px;
}

.center {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    padding-top: 10px;
}

.center a {
    text-decoration: none;
    color: #AEB6BF;
    font-size: 16px;
}

/* Responsive design */

@media only screen and (max-width: 1000px) {
    .project-image {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    img {
        margin: 0 auto;
        width: 100%;
    }
    .project-list-div {
        width: 100%;
        height: 1500px;
    }
    .project-details {
        width: 100%;
    }
    .name {
        font-size: 22px;
        ;
    }
    .links {
        font-size: 16px;
        margin-left: 20px;
    }
    .logo {
        width: 100px;
    }
    .linkedin, .github {
        height: 20px;
        width: 20px;
    }
    .break1, .break2 {
        font-size: 100px;
    }
    .break2 {
        margin-left: 80px;
    }
    .hello-p {
        font-size: 22px;
    }
    .bio, .footer {
        width: 350px;
    }
    .about-span, .little-more, .project-span {
        /* width: 500px; */
        font-size: 20px;
    }
    .about-div {
        /* width: 350; */
        height: 850px;
    }
    .hello-p {
        margin-top: 40px;
    }
    .hello-div {
        height: 720px;
    }
    .center {
        margin: 0;
        padding: 5px;
        /* height: 20px; */
        font-size: 8px;
    }

}